{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css"   href="{% static 'myapp/main.css' %}">
<h1>Contact us</h1>
{% if submitted %}
    <p class="success">
         Your message was submitted successfully. Thank you.
    </p>
 
{% else %}
    <form action="" method="post" novalidate>
    <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
    
    </form>
{% endif %}
{% endblock content %}